.numLink{
  color: #2B6893;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.23359380662441254px;
  text-align: left;
text-decoration: underline;
}
