

.table{
  text-align: center;
  border-spacing: 0;
  tr {
    height: 65px;
    border-bottom: 0px;
  }
  thead tr {
    height: 30px;
    background: #FAFAFA;

  }
  th {
   width: 270px;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.21562500298023224px;
  }
  &__firstCol{
    border-right: 8px solid #FAFAFA;
  }

}

.arrow {
  height: 9px;
  width: 10px;
  padding-left: 3px;
}
