
.table-scroll {
  position: relative;
  width: 1300px;
  z-index: 1;
  margin: auto;
  overflow: scroll;
  height: 635px;
  color: black;
}
.table-scroll tr {
  height: 65px;
  border-bottom: 2px solid #D5D5D5;


}
.table-scroll table {
  min-width: 1280px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  vertical-align: middle;
}

.table-wrap {
  position: relative;
}
.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  vertical-align: middle;
  min-width: 210px;
  width: 210px;
  border-bottom: 1px solid #D5D5D5;
}
.table-scroll th{
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.21562500298023224px;
}
.table-scroll td{
  font-family: Tahoma, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2515625059604645px;
}
.table-scroll thead th {
  background: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background: white;
}
thead th:first-child {
  z-index: 5;
}



 .firstCol{
    border-right: 2px solid #D5D5D5;
    box-sizing: border-box;
   //box-shadow: 0 2px 2px -1px #D5D5D5;
  }


.chain{
    height: 16px;
    width: 16px;
    margin-right: 30px;
    cursor: pointer;
  }


thead th.sticky-1{
  background: #FAFAFA;
  position: sticky;
  top: 0;
  left:0;
  //border-top: 2px solid #D5D5D5;
  //border-bottom: 2px solid #D5D5D5;
  //border-right: 2px solid #D5D5D5;
  //box-shadow: 0 2px 2px -1px #D5D5D5;
  height: 57px;
  cursor: pointer;
}
thead th.sticky-2{
  background: #FEF7EB;
  position: sticky;
  top: 68px;
  border-bottom: 2px solid #D5D5D5;
  height: 60px;
}
.arrow {
  height: 9px;
  width: 10px;
  padding-left: 3px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
  width: 10px;
}
.modal{
  position: absolute;
  width: 1020px;
  height: 461px;
  left: 234px;
  top:150px;
  background: #F6F6F6;

}
.modal-visibility{
  visibility: hidden;
}
.flyin-grid{
  margin: 0 1rem;
  display:flex;
  flex-wrap: wrap;
  perspective: 500px;
  &__item{
    flex: 1 1 300px;
    margin-left:0.5em;
    margin-right: 0.5em;
    max-width: 600px;
    animation: fly-in 600ms ease-in;
  }
}
.card{
  margin-bottom: 1em;
  padding:0.5em;
  background-color: #F6F6F6;
  color: #424242;
  box-shadow: 0.2em 0.5em 1em rgba(0,0,0,0.3);
}
@supports (display:grid) {
  .flyin-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1px;
  }
  .flyin-grid__item{
    max-width: initial;
    margin: 0;
  }
}
@keyframes fly-in {
0%{
  transform: translateZ(-800px) rotateY(90deg);
  opacity: 0;
}
  56%{
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100%{
    transform: translateZ(0) rotateY(0);
  }
}
.cards{
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2875001132488251px;
  text-align: left;
}
.cards table{
  min-width: 100px;
}
.pHide{
  font-family: Tahoma,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.19903850555419922px;
  text-align: left;
  color:#2B6893;
  cursor: pointer;
}
