.App {
  text-align: center;
}
.paginatedTable{
 width: 1400px;
}
.pagContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 129px;

}
.pagination{
  display: flex;
  list-style: none;
  width: max-content;
  justify-content: flex-end;

}
.pagination li{
  display: flex;
  text-align: center;
  margin: auto;
  border: 1px solid gray;
  align-content: flex-end;
  height: 28px;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.21562500298023224px;
  width: 27px;
  cursor: pointer;
}
.pagination li a{
  margin: auto;
}
.active{
  border: none;
  background: lightsteelblue;
}
